h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}



.headclass {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu {
    display: none;
    gap: 40px;

}
.menucontact{
    display: none;
    gap: 40px;
}



.menu li:first-child a {
    color: #404bbf;; 
}



.studmenu::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    
}


.firsthd {
    color: #404bbf;
}

.container  {
    
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    

}

.slogan-container  {
    
     max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    width: 216px; 
    height: 160px;
     
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headclass .container {

    display: flex;
}

.headclass::after {
    
}




footer {
    background-color: #2e2f42;

}

span {

    color:  #2e2f42;
}

.web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    position: relative;
    padding: 17px 0;
    
}

.web-studio:hover {
    color: #404bbf;
}
.web-studio:focus {
    color: #404bbf;
}



.web-studio::after {
    position: absolute;
    bottom: -1px; 
}

.partlogo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}



.partlogo__studio_end {
    color: #FFFFFF;  
}


.menu li a {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}






.contacts:focus,
.contacts:hover {
    color: #404bbf;
 }


.menu li a:hover {
    color: #404bbf;
}

.menu li a:focus {
    color: #404bbf;
}

.menu .studmenu:hover {
    color: #404bbf;

} 

.menu .studmenu:focus {
    color: #404bbf;

}





.top {
        background-color:#2e2f42;
        padding: 188px 0;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimage.jpg);
         
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        max-width: 1440px;
        
    
}

.slogan {
    

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color:  #ffffff;
    margin: 0 16px;
    margin-bottom: 72px;
}
 
.contact-info {
    display: none;
    font-style: normal;
    margin-left: auto;
}

.open-menu-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: 0;
}  

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
}

button:focus {
    background-color: #404BBF;
}

button:hover {
    background-color: #404BBF;
}

a:hover {
    color: #404bbf;
}

a:focus {
    color: #404bbf;
}


.firstsect {
    padding: 120px 0;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.iconsfirst {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;

}

.teamlist {
    display: flex;
    flex-direction: column;
    gap: 24px; 
    margin: 0;
    padding: 0;
}

.teamlist .teamlistpoint {
    margin: 0;
    padding: 0;
    
}



.featureshead {

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin: auto;
    margin-bottom: 8px;
    
}

.featurestext{

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.headhtwo {
   
    
    margin-bottom: 72px;   
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);

}

.secondsect {
    background-color: #F4F4FD;
    padding: 96px 0;
}


.headteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}

.containerlast .headteam {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;

}

.teamtext {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;

}

.castlist .devcast { 
    background-color: #FFFFFF;
    padding: 0 ;
  
}



.socialmedialist {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.socialmedialist .social-link {
    width: 40px;
    height: 40px;
}


.social-link {

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:  50%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.social-link:hover {
    background-color: #404bbf;
}

.social-link:focus {
    background-color: #404bbf;
}

.smlpoint .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svgscm {
    fill: #f4f4fd;  
}

.divname  {
    padding: 32px 0;
    width: 100%;
    box-sizing: border-box;

}

.castlist {
    margin: 0;
    
    display: flex;
    /* gap: 24px; */
    
    flex-direction: column;

}



.castimg   {

    
    
    margin: 0 auto; 
    border-radius: 0px 0px 4px 4px; 
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}

.container .port {
    text-align: center;
    margin: 0 16px;
    
}

.thirdsect{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    margin: 0;
    padding: 0;
}

.logoportfolio {
    margin-left: 51px;
    margin-right: 51px;
   
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
   
}

.listportfolio {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
}
.listportfolio .lppoint {
    
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.lppoint:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.imgbox {
    position: relative;
    overflow: hidden;

}

.imgdescr {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.listportfolio li:hover .imgdescr {
    transform: translateY(0%);
}

.containerlast {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom
}



.textthird {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}


/* **************************************************** */




.container .footer {
    width: 320px;
    
    margin: 0 auto;
    
}


.end {
    background-color:#2e2f42;
    padding: 100px 0; 
    margin-top: 96px;
    display: flex;
}

.end .container {
    
     display: flex; 
    align-items: baseline;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 664px; 
}

.endcont {
   
    display: block;
}

.sm-end {
    width: 208px;
    height: 80px; 
     margin: 0px 40px 0px 40px;   
}

.sm-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0px 0px 16px 16px;
    text-align: center;

}

.endlist {
    display: flex;
    gap: 16px;
    width: 208px;
    height: 40px;
    
}



.li-endlist {
    width: 40px;
    height: 40px;

}

.link-endlist {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}

.link-endlist:hover {
    background-color: #31d0aa;
    
}
.link-endlist:focus {
    background-color: #31d0aa;
    
}



.svgend {
    fill: #f4f4fd;
}

.endpage {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: left;
    width: 288px;
    height: 72px;
    margin: 0px 16px 72px 0px;

}

.partlogosecond {
    color: #f4f4fd;
    display: inline-block;
}


.thirdsect {
    padding-top: 120px;
    padding-bottom: 120px;

}
.webstudiofooter {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin: 96px 86px 16px 86px; 
    display: block;
    
}

.webstudiofooter:hover {
    color: #404bbf;
}
.webstudiofooter:focus {
    color: #404bbf;
}


.subs {
    margin: 0 16px 96px 16px;

}

.subsparagraf {
    margin: 72px 106px 16px 107px ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.subsform  {
    display: block;
    gap: 24px;

}

.subslabel {

}

.subsinput {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    color #ffffff;

}

.subsinput::placeholder {
    color: #ffffff; 
}

.subsbutton {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 16px 62px 0px 61px;
}

.svgsubs {
    margin-left: 16px;
    fill: #ffffff;
}

/*------------------------*/




/* header 768 px */

@media screen and (min-width: 768px)  {
    .container {
        max-width: 768px;
    }

    .menu {
      display: flex;
      gap: 40px;
        
    }
    .open-menu-btn {
        display: none;

    }  

    .navhead {
        display: flex ;
       
    
    }

    .contact-info {
        display: block;
    }  

    .web-studio {
        margin-right: 120px;
    }

    .partlogo__studio {
        color: #2e2f42;
    }
    .studmenu {
        padding: 24px 0;
        display: block;
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .studmenu:hover,
    .studmenu:focus {
        color: #404BBF;
    }
    
    .menucontact{
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
    
    
    .contactpoint {
        padding: 24px 0;
        
        
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
/* header 1158 px */
    

@media screen and (min-width: 1158px)  {

    .container {
        max-width: 1158px;
        padding: 0 15px;
        justify-content: space-between;
        margin: 0 auto;
    }
    .web-studio {
        margin-left: auto;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px; 
        
    }

    .menucontact{
        display: flex;
        gap: 40px;
        flex-direction: row;
    }
    .contactpoint {
        font-size: 16px;
        line-height: 1.5;
    }

    .navhead {
        align-items: center;
        display: flex; 
        
    }

}

/* top 768 px */
@media screen and (min-width: 768px) {
    .slogan {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
        margin: 0 136px;
        margin-bottom: 36px; 
        width: 496px; 
        height: 120px;
    }

    .slogan-container  {
    
        width: 1158px;
        
         max-width: 768px;
        margin: 0 auto;
       
           
            
       }
    
       .top {
        
       }

    }





/* top 1158px px */
@media screen and (min-width: 1158px) {

    .slogan {font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
    }

}



/* firstsect 768 px */
@media screen and (min-width: 768px) {
    
    .container .feautures {
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    }
    
    
    
    
    .iconsfirst {
        display: none;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
    
    }
    
    .teamlist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px; 
        margin: 0;
        padding: 0;

        
    }
    
    .teamlist .teamlistpoint {
        
        width: 356px;
        
        width: calc(50% - 12px);
        
        
    }
    .teamlistpoint {
        width: 356px;
        
    }
    
    
    .featureshead {
    
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: left;
    }
    
    .featurestext{
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
    }
    
    

}


/* firstsect 1158px px */
@media screen and (min-width: 1158px) {
    .iconsfirst {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
    
    }
    
    .teamlist {
        display: flex;
        gap: 24px; 
        margin: 0;
        padding: 0;
        margin-bottom: 120px;
    }
    
    .teamlist .teamlistpoint {
        margin: 0;
        padding: 0;
        width: calc((100% - 72px) / 4);
        
    }
    
    
    
    .featureshead {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }
    
    .featurestext{
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

}

/* secondsect 768px px */
@media screen and (min-width: 768px) {

        .castimg {
            width: 264
        ;
        }

        .devcast{ 
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            
            border-radius: 0 0 4px 4px;
            
            max-width: 264px;
            
            
            
        }

        .castlist .devcast {
        
            max-width: 264px;
             
        }

        .container .ourteam {
            display: flex;
            flex-direction: column;
            align-items: center; 
            
        }
        
        .headhtwo {
            text-align: center;
            width: 100%; 
        }
        
        .castlist {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:  64px 24px;
            flex-direction: row;
            
            
        }
        
        
        }




/* secondsect 1158px px */
@media screen and (min-width: 1158px) {
    .castlist .devcast {  
        background-color: #FFFFFF;
        
        /* width: calc((100% - 72px) / 4); */
        border-radius: 0px 0px 4px 4px;
        margin: 0;
        padding-bottom: 120;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        width: 264px;
    
    
    }
    .castlist {
        display: grid;
        grid-template-columns: repeat(4, 264px);
        grid-gap: 24px;
        padding-bottom: 120px;
    }
}

/* thirdsect 768px  */
@media screen and (min-width: 768px) {

    .container.port {
        display: flex;
        flex-direction: column;
        max-width: 1158px; 
        margin-top: 120px;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .imgbox {
        width: 356px; 
        height: 300px;
    }

    .lppoint {
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        width: calc(50% - 10px); 
        width: 356px;
    }

    .thirdsect {
        display: flex;
        gap: 24px;
        margin: 0;
        padding: 0;
    }
    .logoportfolio {
        text-align: center;
        width: 100%;
    }
    .listportfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px; 
    }
    .listportfolio .lppoint {
        
        
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /* width: calc((100% - 24px) /2) */
    }
    

}



/* thirdsect 1158px px */
@media screen and (min-width: 1158px) {
   
    .container .port {
    
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
        
    
    }

        .logoportfolio {
    
    
            margin-bottom: 72px;
            font-weight: 700;
            font-size: 36px;
            line-height: 111%;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--navy-blue);
        }
        
        .listportfolio {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
        }
        .listportfolio .lppoint {
            margin: 0;
            padding: 0;
            width: calc((100% - 48px) / 3);
           
            
        }

}

/* footer 768px px */

@media screen and (min-width: 768px) {
    
    .container {
        justify-content: start;
    }


    .container.footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: none;
        margin: 0 auto;
        max-width: 768px;
        align-items: center;  
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        align-items: center;
      }

      .endcont {
        margin: 0 0 0 0;
      }
    
    .endpage {
        text-align: left;
        margin-left: 0;
    }

    .webstudiofooter {
        text-align: left;
        margin-left: 0;
    }

    .sm-paragraf {
        margin-left: 0;
        text-align: left;
    }

    .sm-end {
        margin: 0;
        text-align: left;
  
    }
    .subsparagraf {
        margin: 0;
        text-align: left;
        margin-bottom: 16px;
    }

    .subs {
       
        display: block ;
    }

    .subsbutton {
        display: inline;
        height: 40px;
    }
}
/* footer 1158px px */

@media screen and (min-width: 1158px) {

    .container {
        justify-content: start; }
   
   
    .container.footer {
        max-height: 312px;
        margin: 0 auto;
        max-width: 1440px;
          
       
        gap: 24px;
        
      }






.subs {
    margin: 0 0 0 80px;
    width: 453px;
    height: 80px;
    justify-content: center;
    align-items: center;

}



.subsform  {
    
    display: flex;
    
    
}

.subslabel {

}

.subsinput {
   

}

.subsinput::placeholder {
    color: #ffffff; 
}

.subsbutton {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 0 0;

}

.subsparagraf {

}

   
}


/* *********MOBILE MENU************* */




.menumob {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 320px;
    
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.mobi {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0px 24px 0px 16px;
}

.list-menu {
    margin-top: 72px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--ocean);
}

.list-menu li {
    margin-bottom: 40px;}

.adressmobile {
    
    font-style: normal;
    margin-top: 168px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: black
    
}




.adressmobile ul {
    list-style: none; /
    padding: 0; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 500; /
    font-size: 20px; 
    color: var(--navy-blue)
}

.adressmobile li {
    margin-bottom: 24px; 
    color: var(--navy-blue)
}

.adressmobile li:last-child {
    margin-bottom: 0; 
}

.pf {
    color: var(--navy-blue)
}

.ct {
    color: var(--navy-blue)
}

.st {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.list-menu li a:hover {
    color: #404bbf;
}

.list-menu li a:focus {
    color: #404bbf;
}

.mobi  .socialmedialist {
    margin: 48px 0 40px 0;
}

a.mailmob {
     color: #434455; 
      } 


      /* ******MY MODALLLL********** */

.windcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.windowbutton {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.windowbutton:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.windowbutton:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff

}

.svgbuttonwindow {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modalparagraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.windformmodal {
    margin-bottom: 8px;
}

.namewfm {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;

}

.onediv {
    position: relative;

}

.inputonediv {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputonediv:focus {
    border-color: #4D5AE5;
    
}

.inputonediv:focus + .onesvg { 
    fill:#4D5AE5;
    
 }

.onesvg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2E2F42;
}

.onesvg:focus {
    fill: #4D5AE5;
}

.onesvg:hover {
    fill:#4D5AE5
}

.commentwind {
    margin-bottom: 16px
}

.textcom {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.textcom:focus {
    border-color: #4D5AE5;
}

.checkwind {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.fivepoint {
    margin-bottom: 24px;

}

.terms {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-left: 10px;
}

.policy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}




.policysvg {

}

#user-privacy:checked + .terms .policy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}


.pplink {
    text-decoration: underline;
    text-decoration-color: #4d5ae5;
    color: #4d5ae5; 
}

.sendbut {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    width: 169px;
    
}




 /* footer window px */

 @media  screen  and (min-width: 768px)  {     

 .window {
    width: 408px;
 }

}
